/* .App {
  font-family: sans-serif;
  text-align: center;
} */
html,
body {
  background-color: rgb(255, 255, 255);
  font-family: nt-dapper, -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.5;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
}

.dndflow {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}





.reactflow-wrapper {
  flex-grow: 1;
  height: 100vh;
}

.dndflow aside {
  background: #fff;
  border-left: 1px solid #eee;
  font-size: 12px;
  padding: 15px 10px;
}
.right-side-bar {
  max-width: 250px;
  width: 20%;
}

.dndflow .dndnode,
.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  align-items: center;
  border: 1px solid #1a192b;
  border-radius: 2px;
  cursor: grab;
  display: flex;
  height: 20px;
  justify-content: center;
  padding: 4px;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}


.edit-node-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  width: 300px; 
  text-align: center;
  background-color: #d3e1ff;
}

.edit-node-modal h3 {
  margin-bottom: 20px;
  color: #333;
  font-weight: 500;
}

.edit-node-modal input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.edit-node-modal button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.edit-node-modal button:focus {
  outline: none;
}

.edit-node-modal button:nth-child(2) {
  background-color: #2ecc71; /* Green */
  color: white;
}

.edit-node-modal button:nth-child(2):hover {
  background-color: #27ae60; /* Darker green on hover */
}

.edit-node-modal button:nth-child(3) {
  background-color: #e74c3c; /* Red */
  color: white;
}

.edit-node-modal button:nth-child(3):hover {
  background-color: #c0392b; /* Darker red on hover */
}




.react-flow__edge-path {
  stroke: #f00; /* This will color your edge red, adjust as needed */
  fill: none;
  stroke-width: 2;
  marker-end: url(#arrow); /* This associates the arrow marker with the edge */
}


/* edge modal css  */

.edit-edge-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background to highlight the modal */
  z-index: 1000; /* make sure the modal is on top */
}

.edit-edge-modal {
  background-color: #d3e1ff;
  padding: 20px;
  border-radius: 10px;
  max-width: 90%; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}


.edit-edge-modal h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-weight: 500;
}




.edit-edge-modal input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.edit-edge-modal button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.edit-edge-modal button:focus {
  outline: none;
}

.edit-edge-modal button:nth-child(2) {
  background-color: #2ecc71; /* Green */
  color: white;
}

.edit-edge-modal button:nth-child(2):hover {
  background-color: #27ae60; /* Darker green on hover */
}

.edit-edge-modal button:nth-child(3) {
  background-color: #e74c3c; /* Red */
  color: white;
}

.edit-edge-modal button:nth-child(3):hover {
  background-color: #c0392b; /* Darker red on hover */
}





